/* Styles */

@import url(http://fonts.googleapis.com/css?family=Oswald);

header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5%;
}

header .container {
	padding-right: 0;
}

.navbar {
	border: 0;
	background: none;
	margin: 0;
}

.navbar-toggle {
	margin: 0;
	border-radius: 0;
	border: 0;
	border-left: 1px solid;
	min-height: 50px;
	min-width: 50px;
}

.navbar-brand>img {
	height: 30px;
	margin-top: -5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.carousel-inner .btn-slide {
	font-family: 'Oswald', sans-serif;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	border: 2px solid #fff;
	border-radius: 1px;
	color: #1e1e1e;
	margin-bottom: 2.5%;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.title::after {
	display: block;
	width: 50px;
	height: 4px;
	background: #ccc;
	content: '';
	margin: 2.5% auto;
}

h1.title {
	color: #1e1e1e;
	font-size: 2em;
	margin-top: 10%;
}

.motto {
	text-align: center;
	margin-bottom: 10%;
	color: #777;
}

h2.title {
	font-size: 1.5em;
	color: #999;
}

.categories ul {
	margin: 0;
	padding: 0;
}

.categories ul li {
	list-style-type: none;
	border-bottom: 1px solid #ddd;
}

.categories ul li:last-child {
	border-bottom: 0;
}

.categories ul li .glyphicon {
	position: absolute;
	right: 2.5%;
	top: 38%;
	font-size: 2em;
}

.categories ul li h3 {
	font-size: 1.1em;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 2.5%;
}

.categories ul li p {
	margin: 0;
}

.categories a, .categories a:hover {
	color: #1e1e1e;
	text-decoration: none;
}

.categories a:hover, .categories a:active {
	background: #f9f9f9;
}

.categories a {
	display: block;
	position: relative;
	padding: 5%;
	padding-right: 20%;
}

.categories .price {
	font-weight: 700;
	font-size: 1.1em;
}

footer {
	margin-top: 5%;
}

.social {
	background: #ddd;
	text-align: center;
}

.social ul {
	margin: 0;
	padding: 0;
	display: inline;
}

.social ul li {
	list-style-type: none;
	display: inline-block;
	padding: 2.5%;
}

.copyright {
	background: #1e1e1e;
	color: #999;
	text-align: center;
	padding: 10% 0;
}

.search-box {
	position: absolute;
	right: 100px;
	display: none;
}

.search-box .form-control {
  height: 50px;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: 0px;
}

.more-categories {
	width: 80%;
	margin: 5% auto;
}

.more-categories .btn-default {
	width: 100%;
	color: #999;
}